.login-main {
  height: 100vh;
  background-image: url("./assets/images/DeskBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-login {
  flex: 1 1 60%;
  max-width: 60%;
  height: 100%;
  display: flex;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.login-content {
  display: flex;
  height: 100%;
}

.right-login {
  flex: 1 1 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.card {
  height: 100%;
}

.container,
section {
  height: 100%;
}

.right-login {
  flex: 1 1 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.login-subhead {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.login-head img {
  width: 190px;
  height: 93px;
}
.login-subhead h3 {
  font-size: 36px;
}

.login-subhead h4 {
  font-size: 14px;
}
.data-login {
  margin-top: 10px;
  width: 100%;
}

.login-label {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-button {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.login-forgot {
  margin-top: 20px;
}
.login-submit button {
  width: 150px;
  height: 60px;
  background-color: rgba(64, 204, 111, 1);
  border-radius: 36px;
  border-style: none;
}
.login-footer {
  margin-top: 50px;
}
.login-footer h3 {
  font-size: 12px;
}
.card-body {
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .left-login,
  .right-login {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .data-login {
    width: 100%;
  }
}
